body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* .percentage:after {
  content: "*";
  display: block;
  background-color: #3d9970;
} */

.blck {
  content: "";
  display: block;
  background-color: green;
}
