<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script
      src="http://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <title>URL counter: Flask+Celery+MongoDB+AJAX+CSS</title>
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h2>URL counter</h2>
      <h3>Flask + Celery + MongoDB + AJAX example</h3>
      <hr>
      <form>
        <div class="form-group">
          <label for="address">URL</label>
          <input type="url" class="form-control"
                id="address" placeholder="https://example.com"
                pattern="http[s]*://.*" required>
          <small id="addressHelp" class="form-text text-muted">Enter URL for TAG counting.</small>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="container">
        <hr>
        <div id="chart"></div>
        <div id="result">result</div>
        <div id="done"></div>
        <div id="starttime"></div>
        <div id="endtime"></div>
        <hr>
      </div>
    </div>
  </div>
  <script src="static/js/tasks.js"></script>
</body>
</html>
